# Virtual environments
venv/
.venv/

# Environment variables
.env

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Project data
vector_db/
data/
output/
req_data/

# Credentials
credentials/
templates/